*{
  margin: 0;
  padding: 0;
}
.NavigationBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: crimson;
}
.logo{
  width: 20%;
}
.ImageLogo{
  width:90px;
  height:90px;
}
.inp{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.log{
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150;
}
.movie-card{
  display: flex;
 flex-wrap: wrap;
 justify-content:space-between ;
 width: 250px;
 height: 400px;
 background-color: aliceblue;
 margin: 20px;
 align-content: space-between;
 background-color: chartreuse;
}
.movie-poster img{
  height: auto;
  width: 250px;
}
.movie-details{
  /* height: 50px;
  width: 50px; */
}
.movie-rating{
  background-color:chocolate;
}
.movie{
  vertical-align: middle;
}

.main-container{
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: crimson;
}
.log{

  align-content: space-between;
  flex-wrap: wrap;
  width: 100px;
  height: 20;
}